.cnt {
  margin: 40px 0 104px 0;
  background-color: #fff;
}
.cnt__join {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 0 36px 0;
}
.cnt__name {
  align-items: flex-end;
  width: 50px;
  line-height: 58px;
  font-size: 47px;
  font-family: 'Gilroy-Bold';
}
.cnt__work {
  line-height: 22px;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
}

.cnt__img {
  width: 100%;
  height: auto;
}
.cnt__imgMobi {
  display: none;
}

@media (max-width: '1024px') {
  .cnt__img {
    display: none;
  }
  .cnt__imgMobi {
    display: block;
    width: 100%;
  }
  .cnt {
    padding: 0px 48px 0px 48px;
  }
}

@media (max-width: '580px') {
  .cnt__join {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }
} ;
