@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/FontsFree-Net-Gilroy-Bold.woff) format(woff);
  src: url(../fonts/FontsFree-Net-Gilroy-Bold.woff2) format(woff2);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/gilroy-medium.woff) format(woff);
  src: url(../fonts/gilroy-medium.woff2) format(woff2);
}
