html {
  scroll-behavior: smooth;
  font-size: 16px;
}
.container {
  margin: 0 auto;
  max-width: 940px;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
}
ul li {
  list-style-type: none;
}
